.call-to-action {
  position: absolute;
  top: 65%;
  left: 5%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.call-to-action-title {
  font-family: Montserrat;
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
}

.tag-line {
  font-family: Montserrat;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  opacity: .9;
}

.action-button {
  padding: 2% 3%;
  font-family: Montserrat;
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: var(--olive);
  text-decoration: none;
  width: 20%;
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
  white-space: nowrap;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.action-button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.action-button:active {
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 15%;
}

@media only screen and (max-width: 875px) {
  .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .info-pic {
    display: none;
  }
  .tag-line {
    font-family: Montserrat;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    width: 75%;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: .5rem;
    opacity: .9;
  }
}

.info-blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 5%;
  width: 50%;
}

.info-title {
  font-size: 2rem;
  font-family: "Montserrat";
  color: #424242;
  font-weight: 900;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}

.info-paragraph {
  font-family: "Montserrat";
  line-height: 2rem;
  color: #525252;
  padding-top: 5%;
  text-align: center;
}

.info-phrase {
  font-family: "Montserrat";
  line-height: 2rem;
  color: #9d9d9d;
  text-align: center;
}

.info-pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  text-align: center;
  margin-top: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.feature-background-image {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature-container {
  position: relative;
}

.feature-images-container {
  position: absolute;
  width: 65%;
  height: 53%;
  min-height: 450px;
  min-width: 850px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

@media only screen and (max-width: 875px) {
  .feature-images-container {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
  .info-title {
    white-space: normal;
  }
  .info-blurb {
    width: 100%;
  }
}

.feature-card {
  height: 100%;
  width: 30%;
  border-top: 10px solid peachpuff;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-images-container .feature-card:first-child {
  border-top: 10px solid teal;
}

.feature-card:last-child {
  border-top: 10px solid var(--light-olive);
}

@media only screen and (max-width: 875px) {
  .feature-card {
    padding: 1rem;
    width: 100%;
    height: 33%;
    border-top: 10px solid peachpuff;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature-title {
    display: none;
  }
  .feature-image {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .call-to-action {
    left: 2%;
  }
}

.feature-image {
  width: 100%;
  height: 45%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature-title {
  text-align: center;
  font-weight: 400;
  font-family: Montserrat;
  font-size: 1.75rem;
  color: var(--ui-grey);
  padding-top: 5%;
}

.feature-description {
  padding: 0.75rem;
  font-weight: 300;
  font-family: Montserrat;
  font-size: 1rem;
  color: var(--ui-grey);
  line-height: 1.5rem;
  opacity: .75;
}

.feature-button {
  margin-top: .5rem;
  background: transparent;
  z-index: 10;
  color: var(--olive);
  border: 1.5px solid var(--olive);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.feature-button:hover {
  background-color: var(--olive);
  color: white;
}

@media only screen and (max-width: 875px) {
  .feature-image {
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .feature-description::before {
    content: "Sweet";
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    margin-bottom: .5rem;
  }
}
/*# sourceMappingURL=hero.css.map */