@mixin buttonHover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

@mixin buttonClick {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.login-container {
  margin: auto;
  height: 74vh;
  box-shadow: 0 4px 6px 0 hsla(0, 0, 0, 0.2);
  width: 75%;
  margin-top: 10%;
  display: flex;
  border-radius: 5px;
}

.login-message-container {
  width: 40%;
  background-color: var(--olive);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}

.session-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-around;
}

.session-message {
  font-family: Montserrat;
  font-size: 2.5rem;
  color: var(--olive);
  font-weight: 700;
  text-align: center;
}

.session-input {
  padding: 0.5rem;
  border-radius: 5px;
  font-family: Montserrat;
  border: 0.5px solid var(--ui-grey);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 10%;
  font-size: 1rem;
  width: 75%;
  align-self: center;
}

.login-api-links {
  height: 15%;
  border: 1px solid black;
  width: 75%;
  align-self: center;
}

.session-action-primary {
  align-self: center;
  width: 75%;
  height: 10%;
}

.form-toggle {
  align-self: center;
  font-family: Montserrat;
  color: rgb(121, 121, 121);
}

.welcome-message {
  font-size: 1.5rem;
  font-family: Montserrat;
  color: white;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.099rem;
  margin-bottom: 2rem;
}

.session-instructions {
  text-align: center;
  font-family: Montserrat;
  color: #dff3df;
  line-height: 1.5rem;
}

.back-button-session {
  align-self: center;
  width: 75%;
  height: 10%;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.35s ease;
}

.back-button-session:hover {
  background-color: white;
  color: var(--olive);
  font-weight: 400;
  @include buttonHover();
}

.back-button-session:active {
  @include buttonClick();
}

#session-back {
  height: 50%;
  margin-right: 0.2rem;
}

.left-message-wrapper {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  justify-content: center;
  height: 75%;
  height: 100%;
}

.session-errors {
  width: 75%;
  align-self: center;
  height: 10%;
  display: flex;
  padding: 1rem;
  align-items: center;
  border-left: 8px solid darkred;
  border-radius: 5px;
  box-shadow: 0px 3px 6px hsla(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.error-message {
  font-family: Montserrat;
  color: red;
}

.switch-ui {
  margin: auto;
  height: 74vh;
  box-shadow: 0 4px 6px 0 hsla(0, 0, 0, 0.2);
  width: 75%;
  margin-top: 10%;
  display: flex;
  border-radius: 5px;
  flex-direction: row-reverse;
}
@media only screen and(max-width:875px) {
  .login-message-container {
    display: none;
  }

  .session-form {
    width: 100%;
  }

  .login-container {
    margin-top: 23%;
  }
  .switch-ui{
    margin-top: 23%;
  }
}

